body {
    font-family: 'Nunito';
    background-color: #F4F6F7 
}    

.header {
    width: 100%;
    height: 100vh;
    background-color: #F4F6F7;
    margin-top: 0px;
    
    
}

.header__nav-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 135px;
}

.header__logo {
    width: 130px;
    height: 36px;
}

.header__nav-ul {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 790px;
}

.header__nav-link {
    list-style: none;
    margin-right: 50px;    
}

.header__nav-link:last-of-type {
    margin-right: 0px;
}

.header__nav-link>a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #13253A;
}

.header__nav-link>a:hover {
    text-decoration: underline;
    color: #fff;
    background-color: #11364E;
}

.header__content {
    display: inline-flex;
    margin-left: 135px;
}

.header__button--placement {
    justify-content: flex-start;
    align-self: flex-end;
    margin-bottom: 100px;
}

.header__button {
    max-width: 336px;
    width: 100%;
    height: 60px;
    background-color: #FF7F57;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border: none;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.3);
}

.header__button:hover {
    background-color: #11364E;
    color: #fff;
    text-decoration: underline;
}

.header__img--placement {
    box-sizing: border-box;
    padding-left: 400px;
    padding-top: 200px;
    align-self: flex-end;

}

.header__img {
    max-width: 568px;  
}

.our-services {
    background-color: #fff;
    width: 100%;
    height: 525px;
}

.our-services__small-title {
    color: #2557AB;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 120px;
}

.our-services__main-title {
    color: #13253A;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    padding-top: 5px;
}

.our-services__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-services__service {
    max-width: 370px;
    width: 100%;
    height: 197px;
    padding-left: 30px; 
}

.our-services__img {
    width: 64px;
    padding-top: 30px;
    margin-left: 150px;
    margin-bottom: 20px;
}

.our-services__title {
    color: #3B4D6C;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.our-services__text {
    color: #13253A;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

.kpi {
    width: 100%;
    height: 205px;
    background-color: #F4F6F7;
}

.kpi__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi__info {
    max-width: 211px;
    width: 100%;
    height: 85px;
    margin-top: 60px;
    margin-left: 80px;
}

.kpi__title {
    color: #13253A;
    font-size: 46px;
    font-weight: 400;
}

.plus {
    color: #FF7F57;
    font-size: 40px;
    margin-left: -10px;
}

.kpi__text {
    color: #2557AB;
    font-size: 16px;
    font-weight: 500;
}

.about-us {
    width: 100%;
    height: 700px;
    background-color: #fff;
    border-bottom: 1px solid #DCE2E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__content {
    max-width: 970px;
    width: 100%;
    height: 500px;
    
}

.about-us__title--small {
    color: #2557AB;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.about-us__title--large {
    color: #13253A;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.about-us__info {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 14px;

}

.about-us__text--left {
    max-width: 370px;
    width: 100%;
    height: 270px;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #13253A;
}

.about-us__text--left--italic {
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

.about-us__text--right {
    max-width: 570px;
    width: 100%;
    height: 270px;
    font-size: 16px;
    font-weight: 400;
    color: #13253A;
}

.about-us__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-us__hello-fresh {
    width: 66px;
    height: 66px;
}

.about-us__trivago {
    width: 126px;
    height: 38px;
}

.about-us__la-times {
   width: 271px;
   height: 34px; 
}

.about-us__oracle {
    width: 162px;
    height: 23px;
}

.about-us__target {
    width: 52px;
    height: 66px;
}

.relax {
    background-color: #fff;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.relax__content {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 135px;
    position: relative;
}

.relax__title {
    color: #13253A;
    font-size: 38px;
    max-width: 360px;
    width: 100%;
    height: 104px;
    font-weight: bold;
}

.relax__text-info {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 470px;
    width: 100%;
    height: 81px;
}

.check {
    color: #FF7F57;
    margin-right: 15px;
}

.relax__list-items {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
}

.relax__img {
    max-width: 600px;
    width: 100%;
    position: absolute;
    left: 550px;
}

.start-building {
    width: 100%;
    height: 434px;
    background-color: #FF7F57;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-building__content {
    max-width: 800px;
    width: 100%;
    height: 152px;
    color: #fff;
    text-align: center;
}

.start-building__title--small {
    font-size: 16px;
    font-weight: 400;
}

.start-building__title--large {
    font-size: 46px;
    font-weight: bold;
}

.start-building__text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.start-building__button {
    max-width: 336px;
    width: 100%;
    height: 60px;
    background-color: #2557AB;
    color: #fff;
    font-size: 17px;
    border: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.459);
    margin-top: 20px;
}

.contact-us {
    width: 100%;
    height: 770px;
    background-color: #11364E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us__title {
    color: #fff;
    font-size: 38px;
    font-weight: 400;
    text-align: center;
}

.contact-us__form {
    width: 380px;
    height: 292px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.contact-us__label {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin-top: 40px;
}

:placeholder-shown {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.521);
}

.contact-us__input {
    background-color: #11364E;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.521);
    margin-top: 10px;
}

.contact-us__button {
    width: 370px;
    
    height: 60px;
    background-color: #FF7F57;
    color: #fff;
    text-align: center;
    font-size: 17px;
    border: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    margin-top: 36px;
}